<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.requestprofessorproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RequestProfessorProject">
        <activity android:name=".View.Activity.DescricaoActivity"></activity>
        <activity
            android:name=".View.Activity.MainMenuActivity"
            android:theme="@style/PatternTheme"></activity>
        <activity
            android:name=".View.Activity.RegisterActivity"
            android:theme="@style/PatternTheme"></activity>
        <activity
            android:name=".View.Activity.TelaLoginActivity"
            android:theme="@style/PatternTheme" />
        <activity
            android:name=".View.Activity.SplashScreenActivity"
            android:theme="@style/PatternTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>